@use "./auth.scss" as *;
@use "./forms.scss" as *;

html,
body,
#__nuxt {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    scroll-behavior: smooth;
    scroll-padding: 200px;
    // overflow-x: hidden;
}

* {
    transition: all 0.15s;
    font-family: $font;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

button,
.btn {
    cursor: pointer;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
    margin: 0;
}

p {
    font-family: $font;
    margin: 0;
}

.pattern-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("/assets/background-pattern.webp");
}
