$primary: #081c44;
$primary-light: #0f347c;

$background-light: #ffffff;

$secondary: #ececec;

$text-light1: #f0f0f0;
$text-light2: #cecece;
$text-light3: #909090;

$text-dark1: #000000;
$text-dark2: #1b1b1b;
$text-dark3: #414141;

$danger-transparent: rgba(243, 196, 196, 0.445);
$danger1: rgb(223, 67, 67);

$success: rgb(10, 116, 10);

$border-radius: 5px;

$page-width: 1200px;
$dashboard-page-width: 1600px;

$header-font: "Open Sans";
$sub-header-font: "Open Sans";
$font: "Open Sans";

$nav-height: 75px;
$footer-height: 100px;

:root {
    --page-gutter: 50px;
    --page-gutter-sm: 25px;
}

@media (max-width: 768px) {
    :root {
        --page-gutter: 25px;
    }
}

// remove
$admin-background: white;
$shadow-dark: 4px 4px 10px black;
